body {background-color: aquamarine ;}
#Head_legend{margin:0 auto;}
#Head_legend > p {font-size: 50px;font-family: 'Courier New', Courier, monospace; transition: 0.5s;}


#clockInput {font-size: 30px;text-align: center;margin-left: 550px;}
#timerClock > p {font-size:30px;font-family: 'Courier New';text-align: center;}
#clock {text-align: center;font-family: 'Courier New', Courier, monospace;}


#Square_Container_Game {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#Square_Layer_Game {
    position: relative;
    width: 500px;
    height: 500px;
    
    border: 3px solid black;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}

.gold{
    background-color: gold; 
}

.container-body{
    width: 100%;
    padding: 50px 50px;
}
.container-body fieldset{
    padding: 50px;
    border: 3px solid #f33;
    border-radius: 25px;
}
legend{
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}


fieldset #start{
    margin: 15px 15px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid #fff;
    padding:5px 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 25px;
    outline: none;
    border-radius: 15px;
    transition: .5s ease-in;
}
fieldset #start:hover{
    position: relative;
    border: 3px solid #000;
    transform: translateY(-1px)
}
fieldset input:hover{
    border: 2px solid red;
}

.item-fieldset{
    display: block;
    text-align: center;
}
.item-fieldset span{
    font-weight: bold;
    font-size: 25px;
    color: #00f;
    text-transform: uppercase;
}
#timerClock{
    text-transform: uppercase;
    color: salmon;
    font-size: 25px;

}
#clock{
    color: #f33;
    font-size: 25px;
    border: 1px solid #000;
    border-radius: 25px;
    background: purple;
    opacity: 50%;
   

}
#Square_Layer_Game{
    border-radius: 25px;
    background-color: #f33;
    transition:.5s ease-in;
}
#Square_Layer_Game:hover{
    border-radius: 25px;
    background-color:#f340339c;
}

@media only screen and (max-width:991.98px){
    .container-body {
        width: 100%;
        padding: 0px 0px;
    }
    #Square_Layer_Game {
        position: relative;
        width: 100%;
        height: 250px;
        border: 3px solid black;
    }
    .container-body fieldset {
        padding: 0px;
        border: 3px solid #f33;
        border-radius: 25px;
    }
}


/*button*/

.top_button{
    width: 100%;
    /*background-color: orange;*/
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    margin:0 auto;
    background-color: rgb(73, 72, 72);
    opacity: 80%;  
  
  } 
  .top_button > li {
    list-style: none;
    display: inline-block;
    text-align: center;
    /*border-left: 1px solid white;*/
    /*background-color: rgb(120, 76, 163);*/
    padding: 0px 40px;   /*ระยะห่าง*/
  }
  .top_button > li > a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;
  }
  
  .top_button > li > a:hover{
    color: wheat;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  @media only screen and (max-width: 900px){
    .top_button > li {
      list-style: none;
      display: inline-block;
      text-align: center;
      /*border-left: 1px solid white;*/
      /*background-color: rgb(120, 76, 163);*/
      padding: 0px 10px;   /*ระยะห่าง*/
    }
    .top_button > li > a{
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Courier New', Courier, monospace;
      transition: 1s;
    }
    
    .top_button > li > a:hover{
      color: wheat;
      text-decoration: none;
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
    }
  }