.grid-container{
    display: grid;
    grid-template-columns: 33.33% auto 33.33%;     /** 100 % / 4 **/
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color:white;
} 

body{
    background-color: yellow;
}

.step_head {text-align: center;}

 #header_receipt{
    grid-column: 1 / span 3;
}
#Ads1{
    grid-column: 1 / span 1;
}
#step{
    grid-column: 2 / span 1;
}
#Ads2{
    grid-column: 3 / span 1;
}

#step4{
    grid-column: 2 / span 1;
}

@media only screen and (max-width: 500px){
	.grid-container{
        display: grid;
        grid-template-columns: auto 20%;
        grid-gap: 10px;
    }
    body{
        background-color: lightblue;
    }
	#Ads1{
		grid-column: 1 / span 3;
	}
	#Ads2{
		grid-column: 2 / span 1;
	}
	#step{
		grid-column: 1 / span 3;
	}	
} 


#Ads1 img { width:50%;}
#step img { width:30%;}
#Ads2 img { width:50%;}




/*button*/

.top_button{
    width: 100%;
    /*background-color: orange;*/
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    margin:0 auto;
    background-color: rgb(73, 72, 72);
    opacity: 80%;  
  
  } 
  .top_button > li {
    list-style: none;
    display: inline-block;
    text-align: center;
    /*border-left: 1px solid white;*/
    /*background-color: rgb(120, 76, 163);*/
    padding: 0px 40px;   /*ระยะห่าง*/
  }
  .top_button > li > a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;
  }
  
  .top_button > li > a:hover{
    color: wheat;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  @media only screen and (max-width: 900px){
    .top_button > li {
      list-style: none;
      display: inline-block;
      text-align: center;
      /*border-left: 1px solid white;*/
      /*background-color: rgb(120, 76, 163);*/
      padding: 0px 10px;   /*ระยะห่าง*/
    }
    .top_button > li > a{
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Courier New', Courier, monospace;
      transition: 1s;
    }
    
    .top_button > li > a:hover{
      color: wheat;
      text-decoration: none;
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
    }
  }
