.header1 {text-align: center;font-size: 20px;}

/*button*/

.top_button{
    width: 100%;
    /*background-color: orange;*/
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    margin:0 auto;
    background-color: rgb(73, 72, 72);
    opacity: 80%;  
  
  } 
  .top_button > li {
    list-style: none;
    display: inline-block;
    text-align: center;
    /*border-left: 1px solid white;*/
    /*background-color: rgb(120, 76, 163);*/
    padding: 0px 40px;   /*ระยะห่าง*/
  }
  .top_button > li > a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;
  }
  
  .top_button > li > a:hover{
    color: wheat;
    text-decoration: none;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  @media only screen and (max-width: 900px){
    .top_button > li {
      list-style: none;
      display: inline-block;
      text-align: center;
      /*border-left: 1px solid white;*/
      /*background-color: rgb(120, 76, 163);*/
      padding: 0px 10px;   /*ระยะห่าง*/
    }
    .top_button > li > a{
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Courier New', Courier, monospace;
      transition: 1s;
    }
    
    .top_button > li > a:hover{
      color: wheat;
      text-decoration: none;
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
    }
  }

